@import 'settings.scss';
@import 'functions.scss';
@import 'mixins.scss';

// bower:scss
// endbower

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* CSS */

html, body {
  font-family: $main-font;
  background-color: #fbfbfb;
}

h1 {
  @include font-size(17px);
  color: #05415b;
  text-shadow: 0 1px #ffffff;
  letter-spacing: 0.01em;
  position: absolute;
  top: 4px;
  left: 67px;
}

.center-me {
  margin: 0 auto;
  width: 697px;
}

.block {
  width: 100%;
  margin-top: 20px;
  height: 232px;
  display: block;
  border: 1px solid #80b3d5;
  border-radius: 1px;
  position: relative;
  background-color: #ffffff;
  header {
    height: 34px;
    width: 100%;
    @include linear-gradient(to bottom, $head-gradient-color-1 0%, $head-gradient-color-2 100%);
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #83b5d6;
    position: relative;
    h1 {
      margin: 0;
      padding: 0;
    }
  }
  aside {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 167px;
    height: 196px;
    top: 36px;
    p {
      padding: 0;
      margin: 0;
      text-align: right;
      &.number {
        font-family: $head-font;
        @include font-size(36px);
        font-weight: 700;
        color: #05415b;
        margin-right: 18px;
        margin-top: 22px;
        span.currency {
          vertical-align: top;
          @include font-size(24px);
          color: #2f6ca6;
        }
      }
      &.item {
        @include font-size(13px);
        color: #215e8a;
        margin-right: 18px;
        margin-top: 0px;
      }
    }
  }
}

.graph-container {
  width: 514px;
  height: 196px;
  margin-left: 16px;
}


.call-to-action {
  @include linear-gradient(to bottom, $cta-gradient-color-1 0%, $cta-gradient-color-2 100%);
  width: 138px;
  height: 30px;
  color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 6px;
  position: absolute;
  bottom: 20px;
  right: 17px;
  @include font-size(12px);
  font-weight: 300;
  letter-spacing: 0.05em;
  line-height: 1em;
  box-shadow: 0 3px 4px RGBA(0,0,0,0.3);
  padding: 0;
  @include transition(all .3s ease);
  &:after {
    content: "";
    position: absolute;
    display: block;
    top: 1px;
    left: 2px;
    border-radius: 3px;
    box-shadow: inset 0 1px 0px RGBA(255,255,255,0.5);
    width: 130px;
    height: 30px;
    padding: 0;
  }
  &:hover {
    box-shadow: 0 0 1px RGBA(0,0,0,0.3);
  }
}

.icon {
  position: absolute;
  left: 13px;
  top: -8px;
  width: 37px;
  height: 34px;
  border-top: 1px solid #FFFFFF;
  border-right: 1px solid #FFFFFF;
  border-bottom: 2px solid #FFFFFF;
  border-left: 2px solid #FFFFFF;
  border-radius: 5px;
  @include linear-gradient(to bottom, $icon-gradient-color-1 0%, $icon-gradient-color-2 100%);
  box-shadow: 0px 0px 2px RGBA(0,0,0,0.75), inset 0px 0px 2px RGBA(0,0,0,0.75);
}

